@import './reset';
@import './vars';
@import './fonts';
@import "./tooltip";
@import "./text";
@import "./button";
@import "./form";

html,
body {
  @include sans(400);
  background-color: var(--color-bg);
  color: var(--color-text);
}

.mapboxgl-control-container {
  display: none !important;
}