@import "./reset";
@import "./vars";
@import "./fonts";
@import "./tooltip";
@import "./text";
@import "./button";
@import "./form";
@import "./layout";

html,
body {
  @include sans(400);
  background-color: var(--color-bg);
  color: var(--color-text);
  // overflow-x: hidden;
}

.mapboxgl-control-container {
  display: none !important;
}
