.btn {
  position: relative;
  z-index: 2;

  &.small {
    &.btn-active,
    &:hover,
    &.router-link-active {
      &:after {
        border-radius: var(--radius-md);
      }
    }
  }

  &:after {
    @include t();
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 0;
    height: 0;
    z-index: -1;
    background-color: var(--color-accent-bg);
    opacity: 0;
  }

  &.btn-active,
  &:hover,
  &.router-link-active {
    color: var(--color-accent);

    svg {
      color: var(--color-accent);
    }

    &:after {
      border-radius: 20px;
      opacity: 1;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
    }
  }
}

.button {
  @include t();
  @include sans(400);
  border-radius: var(--radius-sm);
  display: block;
  height: 38px;
  line-height: 38px;
  padding: 0 15px;
  width: 100%;

  &.btn-accent {
    background-color: var(--color-bg);
    color: var(--color-text);

    &:hover {
    background-color: var(--color-bg-light);

    }
  }
}