.flex-wrap {
  display: flex;
  gap: 16px;
  justify-content: flex-start;

  &.center {
    justify-content: center;
  }

  &.right {
    justify-content: flex-end;
  }
}

.loading-indicator {
  border-radius: var(--radius-lg);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 516px;
  border: 1px solid var(--color-border);
}

.container {
  display: block;
  margin: 0 auto;

}