:root {
  --color-text: #DEDEDE;
  --color-text-light: #b4b2b2;

  --color-bg: #1F2120;
  --color-bg-light: #2A2E2C;
  --color-bg-dark: #171818;

  --color-border: #383b39;

  --color-accent: #69F0BF;
  --color-accent-bg: #223931;

  --color-bg-dark-85: rgba(#171818, 0.85)

  --shadow: 0 2px 12px rgba(#000, 0.2);

  --radius-lg: 20px;
  --radius-md: 10px;
  --radius-sm: 5px;
}